<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>
    <style>
        body {
            padding-top: 73px;
            background-color: white;
        }
    </style>

    <header>
        <% include ../partials/header %>
    </header>
    
	<script>
            function send_data() {
              document.forms[1].submit();
           }

            window.onload = function(){
            var input = document.getElementById('upload');
            input.onchange = send_data;
        }
    </script>
      <script>
              $(document).on('change', '.upload', function(){
          $('.uploadform').submit();
           });
      </script>
    
    <!-- uploads -->
    <div class="container">
        <div class="row" text-center>
            <div class="col-md-3 text-center">
                
                <% moviedata.forEach(function(msgObj){ %>
                <a href="#" class="thumbnail" style="margin-top:12px">
                    <img src="<%= poster %>" alt="...">
                </a>
                <% }); %>

    			<% if (user) { %>
                    
                    <form action="/upload" id="uploadform" method="post" enctype="multipart/form-data">
                      
                        <p class="file">
                        <input type="file" class="upload" name="modusdata"/>
                        
                        <label for="file">Upload your data</label>
                        
                        </p>
                        <input type="submit" value="submit"/>

                    </form>

                    <% } else { %>
                    Please login to upload data.
                <% } %>
            </div>
            <div class="col-md-9">
               
                <% moviedata.forEach(function(msgObj){ %>
            
                    <h5><%= msgObj.title %><span class="text-muted"> (<%= msgObj.year %>)</span></h5>

					<div class="row">   
						<div class="col-md-6">
							<p><b>IMDb rating:</b> <b><%= msgObj.rating %></b>/10 from <%= msgObj.votes %> users</p>
						</div>
						<div class="col-md-6">
							<p><b>Modus rating:</b> <b><%= modusdata %></b> from <%= counter %> users</p> 
                            						</div>
					</div>
                    <p><b>Runtime:</b> <%= msgObj.runtime %> minutes</p>
                    <p><%= msgObj.plot %></p>

                    <!-- Fix parser to add a whitespace between directors and writers and all the like -->
                    <p><b>Director:</b> <%= msgObj.director %></p>
                    <p><b>Writers:</b>  <%= msgObj.director %></p>

                <% }); %>

            </div>
        </div>
    </div><!-- /container -->
    <br>
    <!-- FOOTER -->
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>