<!doctype html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <header>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
					</button>
					<a class="navbar-brand" href="/">Modus</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="navbar-collapse-5">
					<ul class="nav navbar-nav">
						<li><a href="/"><span class="fui-home"></span> Home</a>
						</li>
						<li><a href="/about"><span class="fui-info-circle"></span> About</a>
						</li>
					</ul>
					<form class="navbar-form navbar-left" action="/search" method="post" role="search">
						<div class="form-group">
							<div class="input-group">
								<input class="form-control" id="navbarInput-01" name="title" type="search" placeholder="Search">
								<span class="input-group-btn">

								  <button type="submit" class="btn"><span class="fui-search"></span>
								</button>
								</span>
							</div>
						</div>
					</form>
					<!-- check if the user is logged in -->
					<% if (user) { %>
						<ul class="nav navbar-nav navbar-right">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<%= user.google.name %> <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a href="/myuploads">My Uploads</a>
									</li>
									<li class="divider"></li>
									<li><a href="/logout">Logout</a>
									</li>
								</ul>
							</li>
							<li class="active"><a href="/profile"><span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span><span class="visible-md visible-lg"><span class="fui-gear"></span></span></a>
							</li>
						</ul>
						<% } else { %>
							<form class="navbar-right">
								<ul class="nav navbar-nav">
									<a class="btn btn-danger" href="/auth/google">Google</a>
									<a class="btn btn-info" href="/auth/facebook">Facebook</a>
								</ul>
							</form>
					<% } %>
				</div>
				<!-- /.navbar-collapse -->
			</div>
		</nav>
    </header>
    <div class="container">

        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>
            <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        </div>

        <div class="row">

            <!-- FACEBOOK INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                    <!-- check if the user has this token (is the user authenticated with this social account) -->
                    <% if (user.facebook.token) { %>
                        <p>
							<strong>id</strong>: <%= user.facebook.id %><br>
							<strong>token</strong>: <%= user.facebook.token %><br>
							<strong>email</strong>: <%= user.facebook.email %><br>
							<strong>name</strong>: <%= user.facebook.name %><br>
                        </p>

                        <a href="/unlink/facebook" class="btn btn-primary">Unlink</a>
                        <% } else { %>
                            <a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>
                            <% } %>

                </div>
            </div>

            <!-- GOOGLE INFORMATION -->
            <div class="col-sm-6">
                <div class="well">
                    <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                    <% if (user.google.token) { %>
                        <p>
							<strong>id</strong>: <%= user.google.id %><br>
							<strong>token</strong>: <%= user.google.token %><br>
							<strong>email</strong>: <%= user.google.email %><br>
							<strong>name</strong>: <%= user.google.name %>
                        </p>

                        <a href="/unlink/google" class="btn btn-danger">Unlink</a>
                        <% } else { %>
                            <a href="/connect/google" class="btn btn-danger">Connect Google</a>
                            <% } %>

                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <footer>
        <% include ../partials/footer %>
    </footer>
</body>

</html>