<!DOCTYPE html>
<html lang="en">
  <head>
	<% include ../partials/head %>
  </head>
<body>
    <style>
      body {

        padding-top: 70px;
		background-color: white;
      }
    </style>

	<header>
		<% include ../partials/header %>
	</header>
	
	<div class="container">
		
		<!-- Movie searched for is <%= movie.title %> (<%= movie.year %>)
		<br>
		The rating is: <%= movie.rating %>/10
		<br> -->
		<!-- <img src="<%= movie.poster %>"> -->
		<!-- <br>
		<%= movie.plot %>
		 -->

		 Title is <%= movie.title %>

		 
		 
		<!-- <div class="row">
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img data-src="holder.js/100%x371" alt="...">
			</a>
		  </div>
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img data-src="holder.js/100%x371" alt="...">
			</a>
		  </div>
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img data-src="holder.js/100%x371" alt="...">
			</a>
		  </div>
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img data-src="holder.js/100%x371" alt="...">
			</a>
		  </div>
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img data-src="holder.js/100%x371" alt="...">
			</a>
		  </div>
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img data-src="holder.js/100%x371" alt="...">
			</a>
		  </div>
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img data-src="holder.js/100%x371" alt="...">
			</a>
		  </div>
		  <div class="col-xs-6 col-md-3">
			<a href="#" class="thumbnail">
			  <img data-src="holder.js/100%x371" alt="...">
			</a>
		  </div>		  
		</div> -->
		
	</div> <!-- /container -->
    <!-- FOOTER -->
    <footer>
        <% include ../partials/footer %>
    </footer>
  </body>
</html>
